.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	padding: 15px 12.5%;
	width: 100%;
	background-color: var(--primary-clr);

	.logo__wrapper {
		display: flex;
		align-items: center;
		gap: 20px;
		cursor: pointer;
		.name {
			font-size: 1.2em;
			text-transform: uppercase;
			color: var(--white-clr);
			position: relative;
			&::before {
				content: '';
				position: absolute;
				width: 0%;
				bottom: -5px;
				height: 2px;
				background-color: var(--white-clr);
				transition: var(--tranition-var);
			}
		}
		&:hover .name::before {
			width: 100%;
		}
	}

	.logo {
		--size: 80px;
		position: relative;
		width: var(--size);
		height: var(--size);
	}
}

.nav__mobile {
	display: none;
	appearance: none;
}

.nav {
	--tranition-var: all 0.25s;
	display: flex;
	gap: 50px;
	a {
		position: relative;
		transition: var(--tranition-var);
		&:hover {
			color: var(--white-clr);
		}
		&::before {
			content: '';
			position: absolute;
			width: 0%;
			bottom: -5px;
			height: 2px;
			background-color: var(--white-clr);
			pointer-events: none;
			cursor: default;
			transition: var(--tranition-var);
		}
		&:hover::before {
			width: 100%;
		}
		&.active {
			color: var(--white-clr);
			&::before {
				width: 100%;
			}
		}
	}
}

@media (max-width: 1024px) {
	.header {
		padding: 15px 40px;
	}
}

@media (max-width: 767px) {
	.nav__web {
		display: none;
		appearance: none;
	}
	.nav__mobile {
		display: flex;
		cursor: pointer;
		border-top: 2px solid var(--white-clr);
		border-bottom: 2px solid var(--white-clr);
		height: 18px;
		width: 22px;
		position: relative;
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			background-color: var(--white-clr);
			transform: translateY(-50%);
			top: 50%;
		}
		.nav {
			position: absolute;
			display: none;
			flex-direction: column;
			gap: 12px;
			background-color: var(--primary-clr);
			padding: 5px 12px 10px;
			box-shadow: 8px 10px 20px 1px rgba(152, 152, 152, 0.32);
			right: -25%;
			top: 70px;
		}
		&.active nav {
			display: flex;
		}
		a {
			width: fit-content;
			&::before {
				bottom: -3px;
			}
			&.active {
				margin-bottom: 3px;
			}
		}
	}
}
