.wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	width: 100%;

	--wdth: min(60%, 420px);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: var(--wdth);
	h2 {
		text-align: center;
	}
}

.textarea__wrapper {
	position: relative;
	textarea {
		padding: 5px 7px;
		resize: vertical;
		min-height: 100px;
		height: 120px;
		max-height: 240px;
		border: 2px solid var(--grey-clr);
		position: relative;
		width: 100%;
		&:focus {
			border: 2px solid var(--primary-clr);
			outline: none;
		}
	}
	.symbols {
		position: absolute;
		padding: 7px;
		bottom: 0;
		right: 0;
		pointer-events: none;
	}
}

.form__inputs {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.contact {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: var(--wdth);

	.link__wrapper {
		display: flex;
		gap: 10px;
		align-items: center;

		a:hover {
			cursor: pointer;
			color: var(--primary-clr);
		}
	}
}
